body {
    color: mediumpurple;
    background-color: lightgray;

    font-family: "helvetica";
    font-size: 15px
}

SCI
/*h2 {color:darkorchid;}*/


.gray-span {
    color: grey;


}

.centered {
    /*    margin-left: 20px;
    margin-right: 20px;*/

    padding: 10px 10px 10px 10px;
    border: 5px solid;
    margin: 10px auto 10px auto;
    width: 80%
        /*    margin-left:auto;
    margin-right:auto;*/

        
        a:hover {
            color: blueviolet
        }
    

}

@media screen and (max-width: 30rem)
